.card-background{
  background-color: #1A73E8 !important;
}
.signup-button{
    background-color: #FF6F00;
}
.logo-image{
     height: 50px;
     width: 60%
}
.signup-text{
    color: white !important;
}